body {
  display: flex;
  margin: 0;
  font-family: "Cabin";
  background-color: #1a1a1a;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

.sidebar-nav {
  height: 100vh;
  background-color: black;
  width: 240px;
  padding: 16px;
}

.sidebar-nav .logo svg {
  height: 50px;
  padding-bottom: 15px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar-nav .menu li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}
.sidebar-nav .menu i {
  font-size: 24px;
  padding-right: 15px;
}

.sidebar-nav .menu li.selected {
  background-color: #1a1a1a;
}
.sidebar-nav .menu a {
  text-decoration: none;
  color: white;
}

.fas {
  font-size: 24px;
  padding-right: 15px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  font-family: "Cabin";
  background-color: #181818;
}

.card a {
  color: white;
  text-decoration: none;
}

.card h5,
.card h6 {
  text-overflow: ellipsis;
}

.top-genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 24px;
}

.grid-item {
  height: 220px;
  grid-column: span 2;
  border-radius: 8px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.pop {
  background-color: rgb(195, 240, 200);
}

.top-genres h3 {
  padding: 16px;
  font-size: 40px;
  line-height: 1.3em;
}

.item-img {
  position: absolute;
  right: 0;
  width: 128px;
  height: 128px;
  transform: rotate(25deg) translate(18%, -2%);
}

.browse-all {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: 4fr;
  grid-gap: 24px;
}
.browse-all h3 {
  padding: 16px;
  font-size: 24px;
  line-height: 1.3em;
}
.browse-all .grid-item {
  grid-column: span 1;
}

.browse-all .item-img {
  bottom: 0;
}
