body {
  margin: 0;
  font-family: "Cabin";
  background-color: #2d46ba;
  color: white;
}
nav {
  background-color: black;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10%;
}
.menu {
  width: 40%;
  list-style-type: none;
  display: flex;
}

.menu li {
  padding: 15px;
}

main {
  height: 100vh;
  color: #1ed760;
  text-align: center;
  background: url("../images/bursts.svg");
  background-size: 175%;
  background-position: 46% 4%;
}

h1 {
  font-size: 156px;
  font-weight: 700;
  line-height: 166px;
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
}

.cta {
  text-decoration: none;
  color: #2d46ba;
  text-transform: uppercase;
  background-color: #1ed760;
  padding: 16px 45px;
  border-radius: 300px;
  display: block;
  width: 250px;
  margin-left: 36%;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 400px;
  padding: 80px 30px 50px;
}
footer a {
  text-decoration: none; /*remove underline from links*/

  color: white;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .title {
  color: #919496;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 10px;
}

.footer-nav {
  margin: 0 auto;
}

footer .logo svg {
  width: 90px;
  height: 30px;
}

footer .items {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

footer .items a {
  padding: 3px 0 15px;
}
.social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-media .icon {
  border-radius: 50%;
  background-color: #222326;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media .icon i {
  font-size: 24px;
}
